.App {
  text-align: left;
  color: rgb(250, 250, 250);

  .App-header {
    background-color: rgb(25, 31, 48);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: rgb(250, 250, 250);
    padding: 1rem;
  }

  .App-link {
    color: #8261fb;
  }
}
