.placeOrder {
  padding: 1rem;
  margin: 0 0 1rem 1rem;
  display: flex;
  flex-direction: column;
  max-width: 12rem;
  border: 1px solid black;
  box-shadow: 2px 2px 4px black;

  label {
    padding: 0 0 0.25rem 0;
  }

  input,
  select {
    margin-bottom: 1rem;
  }

  button {
    margin: 0.5rem 0;
  }

  .error {
    padding: 0.25rem;
    background-color: red;
  }

  .success {
    padding: 0.25rem;
    background-color: green;
  }
}
